@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root{
    font-family: 'Roboto Slab', serif; 
    font-size: large;   
}

.heading{
    display: flex;
    align-content: center;
    justify-content: center;
}

input{
    margin: 1rem 0.5rem;  
    border-radius: 0.3rem;
    border: 1px solid black;
    padding: 0.5rem;
    
}

.pages{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.angles{
    display: flex;
    align-content: center;
    justify-content: center;

}

.line-1{
    height: 1px;
    background: black;
}




.output{
    margin-top: 1rem;
    text-align: center;
}